<%= render 'form', project: @project %>

<div class="clearfix"></div>
<div class="container">
  <div class="row">
    <div id="chart" style="width: auto; height: 600px;"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <%= javascript_tag do -%>
      google.charts.load("visualization", "1", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = JSON.parse('<%= @data.to_json.html_safe -%>');       

        data = google.visualization.arrayToDataTable(data);

        var options = {
          title: 'ToDo Status'
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart'));
        chart.draw(data, options);
      }
    <% end -%>
  </div>
</div>
