@font-face {
  font-family: 'themify';
  src: font-url("themify.eot?-fvbane");
  src: font-url("themify.eot?#iefix-fvbane") format("embedded-opentype"), font-url("themify.ttf?-fvbane") format("woff"), font-url("themify.ttf?-fvbane") format("truetype"), font-url("themify.svg?-fvbane#themify") format("svg");
}
